/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
:root {
  --box-sizing: border-box;
  --main-bg-color: #6fc2f1d2;
  --gallery-img: 0.5rem;

}

* {
  box-sizing: var(--box-sizing);
}



.nav{
  --
}


body {
  background: var(--main-bg-color);
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */
  :root {
    --main-bg-color: #fad88f;
  }

  body {
    background: var(--main-bg-color);
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */
  :root {
    --main-bg-color: #fff;
    --gallery-img: 30%;
  }

  body {
    background: var(--main-bg-color);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .container .box .img-size{
    height: auto;
    width: 30vw;
    margin: 0;
  }

  .container .box{
    height: 30vh;
    width: 30vw;
    margin: 0.2rem;
    overflow: hidden;

  }

}

